@import '../constants/colors.css';

.delete-user-button:hover {
  color: red;
}

.admin-logout-button {
  position: fixed;
  top: 0;
  left: 0;
}

.admin-header {
  background-color: var(--nyan-blue);
  color: white;
}

.admin-logout-button .MuiSvgIcon-root {
  font-size: 40px;
}

.action-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
