.dashboard-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

body {
  background-color: #fff9e6;
}

@media (max-width: 480px) {
  .dashboard-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
}
