.questionlist-container {
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  overflow-y: auto;
  background-color: #f7f7f7;
  padding: 3%;
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  border-radius: 10px;
  text-align: center;
}

.questionlist-container h2 {
  color: #333;
  font-size: 1.2em;
  margin-bottom: 20px;
}

.questionlist-container li {
  margin-bottom: 10px;
}

.questionlist-container li button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-decoration: none;
  color: #333;
}
.questionlist-container button {
  color: #333;
  text-decoration: none;
  padding: 4px 8px;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: inline-block;
}

.questionlist-container button:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.12);
  background-color: var(--landing-blue);
  color: #fff;
}

.questionlist-container ul {
  list-style: none;
  padding: 0;
}

.question-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.answer-container {
  width: 75%;
  height: 100vh;
  background-color: #e7e7e7;
  padding: 3%;
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
