.draw-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas {
  border: 4px solid black;
  margin-bottom: 20px;
  background-color: white;
  touch-action: none;
  width: 400px;
  height: 400px;
}

.button-group {
  padding-bottom: 5px;
}

@media (max-width: 600px) {
  .draw-container {
    width: 100%;
    height: auto;
  }

  .canvas {
    width: 100%;
    height: auto;
  }

  .button-group button {
    font-size: 14px; /* pienennä fontin kokoa */
    margin-right: 2px; /* pienennä marginaalia */
  }
}
