.WriteContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: auto;
}

.textArea {
  width: 600px;
  max-width: 65vw;
  margin-bottom: 20px;
  resize: vertical;
  border: 3px solid black;
}
